*{
    box-sizing: border-box;
    margin: 0px;
}

header{ 
    width: 100%;   
}

.nav-container{
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    background-color: black;
}

.last-name{    
    flex: 0 0 10%;
    background-color: aqua;
    text-align: right;
    border-color:black;
    border-style:solid;
    border-width: 5px 5px 5px 0px;
    padding-right: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.spacer1{
    flex: 1 1 40%;
    background-color: yellow;
}

.nav-option {
    white-space: nowrap;
    text-align: center;
    padding-top: 30px;
    flex: 0 0 10%;
    color: white;
    background-color: orange;
    border-color:green;
    border-style:solid;
    border-width: 1px;    
    color: turquoise;
    font-size: 18px;
} 

.banner {
    display:flex;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: red;
    background-color: white;
}

content{
    margin-top: 20px;
    width: 100%;
}

.left-panel{
    flex: 0 0 20%;
    /* margin-top: 15px; */
    border-right: solid black 5px;
    font-size: 40px;
    text-align: right;
    margin-right: 40px;
    padding-right: 25px;
}

.about-me{
    display: flex;
    border: left;
    width: 100%;
    flex: 1 1 100%;
    flex-wrap: none;
    padding: 25px;
}

.main-about-me{
    display: flex;
    width: 80%;
}

.about-me-picture {
    flex: 0 0 10%;
    min-width: 30%;
    /* display: absolute; */
    max-width:30%;
}

.about-me-text {
    flex: 0 1 90%;
    padding-left: 3%;
    padding-right: 3%;
    font-size: 20px;
    /* align-items: top; */
    
}

.work{
    display: flex;
    border: left;
    width: 100%;
    flex: 1 1 100%;
    /* flex-wrap: none; */
    padding: 25px;
}

.main-work{
    /* position: absolute; */
    /* display: flex; */
    /* flex-wrap:wrap; */
    /* max-width:80%; */
    /* width: 80%; */
    /* flex: 1 1 100; */
}

.climbing-app{
    /* position: absolute; */
    /* background-color: turquoise; */
}

.full-width{
    position: relative;
    bottom:100px;
    /* display: inline-flex; */
    background-color: turquoise;
    padding: 5px;
    flex-wrap: wrap;
    max-width: 230px;
    flex: none;
}

figure{
    flex: 0 0 100%;
    width: 30%;
    /* padding-left: 3%; */
    padding-right: 3%;
    font-size: 20px;
}

.guitar-container{
    flex: 1 1 100%;
    /* position:absolute; */
}

.guitar-app{
    flex: 1 1 30%;
    max-width:100%;
    width: 100%;
}

.running-container{
    flex: 1 1 100%;
    /* position:absolute; */
}

.running-app{
    flex: 1 1 30%;
    max-width:100%;
    width: 100%;
}

.hero-container{
    position: relative;
    width: 100%;
}

.hero-image{
    /* flex: 1 1 100%; */
    height: 450px;
    width: 100%;
    /* background: linear-gradient() */
}

.try-border{
    border-bottom: solid turquoise 4px;
    /* vertical-align: center; */
    /* justify-content: center; */
    margin: 0px 8px 15px 8px;
    padding-left: 5px;
    padding-right: 5px;
}

.hero-text{
    position: absolute;
    background-color: turquoise;
    bottom:5%;
    right:5%;
}

/* @media screen width:<768px {

} */
/* 
    width: fit-content;
    height: fit-content;
    bottom: 80px;
    left: 80%;
    background-color: turquoise;
    padding: 10px;
    margin-top: 20%;
    vertical-align: bottom;
    margin-left: -15%; */